@page
@model APILP3.Areas.Identity.Pages.Account.Manage.HomePageModel

@{
    ViewData["Title"] = "Feira & Office";
    Layout = "/Views/Shared/LayoutProdutos.cshtml";
}

<h3>Produtos</h3>

<table class="table">
    <thead>
        <tr>
            <th>ID do produto</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Unidade</th>
            <th>Stock</th>
            <th>Seleção</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Code</td>
                <td>@product.Description</td>
                <td>@product.PVP</td>
                <td>@product.Unit</td>
                <td>@product.Stock</td>
                <td>
                    <input type="checkbox" name="selectedProducts" value="@product.Code">
                </td>
                <td>
                    <input type="number" name="productQuantities[@product.Code]" value="0" min="0">
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="padding-bottom: 20px;">
    <label>Total: <span id="totalLabel">0.00</span></label>
</div>

<button type="button" onclick="finalizarCompra()">Finalizar compra</button>

<script>
    function finalizarCompra() {
        // Obter produtos selecionados e quantidades
        var selectedProducts = document.querySelectorAll('input[name="selectedProducts"]:checked');
        var productQuantities = {};

        selectedProducts.forEach(function (product) {
            var code = product.value;
            var quantity = document.querySelector('input[name="productQuantities[' + code + ']"]').value;
            productQuantities[code] = quantity;
        });

    }
</script>

