@page
@model APILP3.Areas.Identity.Pages.Account.Manage.HomePageModel

@{
    ViewData["Title"] = "Feira & Office";
    Layout = "/Views/Shared/LayoutProdutos.cshtml";
}

<h3>Produtos</h3>



<table class="table">
    <thead>
        <tr>
            <th>ID do produto</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Unidade</th>
            <th>Seleção</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Code</td>
                <td name="descricao[@product.Code]">@product.Description</td>
                <td name="preco[@product.Code]">@product.PVP</td>
                <td name="unidade[@product.Code]">@product.Unit</td>
                <td>
                    <input type="checkbox" name="selectedProducts" value="@product.Code">
                </td>
                <td>
                    <input type="number" name="productQuantities[@product.Code]" value="0" min="0">
                </td>
            </tr>
        }
    </tbody>
</table>

    <form id="formOrder" method="post">
        <button type="button" onclick="finalizarCompra()">Finalizar compra</button>
    </form>

<script>
    function finalizarCompra() {
        // Obter produtos selecionados e quantidades
        var selectedProducts = document.querySelectorAll('input[name="selectedProducts"]:checked');
        var productsData = {};
        var form = document.getElementById('formOrder');

        selectedProducts.forEach(function (product) {
            var code = product.value;
            console.log(code);
            var quantity = document.querySelector('input[name="productQuantities[' + code + ']"]').value;
            console.log(quantity);

            // Obter outras informações do produto diretamente do HTML
            var description = document.querySelector('td[name="descricao[' + code + ']"]').innerText;
            console.log(description);
           
            var unit = document.querySelector('td[name="unidade[' + code + ']"]').innerText;
            console.log(unit);
            var preco = document.querySelector('td[name="preco[' + code + ']"]').innerText;
            console.log(preco);
           
            // Adicionar o produto à lista
            productsData[code] = {
                 id: code,
                 description: description,
                 quantity: quantity,
                 unit: unit,
                 preco:preco
            };
        });


        // Armazenar temporariamente os produtos selecionados no localStorage
        localStorage.setItem('selectedProducts', JSON.stringify(productsData));
        console.log(productsData);
      
        // Redirecionar para a página de finalização da compra
        window.location.href = "/Identity/Account/Manage/FinalizarCompra";
    }
</script>


